
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agents</title>

    <%- include('../component/navbar') %>
  <!-- Include required CSS and JavaScript files -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">


 
    <style>


.dropbtn {
  background-color: transparent;
  color: transparent;
    border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:  #937a7a;   border-radius: 50%;  width: 2.5rem; height: 2.5rem;}
    </style>
</head>
<body>

    <%- include('../component/sidebar') %>
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
     
 
      <div id="alertContainer" ></div>               


      <div class="d-flex justify-content-end ">

          <div class=" p-2 ">
            <button
                type="button"
                class="btn btn-primary"
                data-mdb-toggle="modal"
                data-mdb-target="#Ajouter"
                data-mdb-whatever="@mdo"
                >
                <i class="fa fa-plus"></i> Agent
            </button>
        </div>
      </div> 
      <div class="modal fade" id="Ajouter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter Agent</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addAgent">
                <div class="modal-body">
                    <div class="mb-3">
                      <div class="row">
                        <div class="col">
                            <label for="complete_name" class="col-form-label">Complete Name:</label>
                            <input type="text" name="complete_name" class="form-control" id="complete_name" required />
                        </div>
                        <div class="col">
                            <label for="tele" class="col-form-label">Telephone:</label>
                            <input type="text" name="tele" class="form-control" id="tele" required />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" name="mail" class="form-control" id="email" required />
                        </div>
                        <div class="col">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="text" name="password" class="form-control" id="password" required />
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="add Agent" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>

      <div class="row ">
     
      <% if ( Agents.length > 0) {  %>
        <table  id="example"  class="py-2"  style="width:100%">
          <thead>
              <tr>
                  <th>Complete nom</th>
                  <th>Email</th>
                  <th>Telephone</th>
               </tr>
          </thead>
          <tbody>
      <% Agents.forEach(element => {  %>
      <tr>
        <td><%=element.complete_name%></td>
        <td><%=element.mail%></td>
        <td><%=element.num_tele%></td>
      </tr>
      <%  }); %>

          </tbody>
       
       <% }  else { %>
        <div style='position:relative; padding-top:calc(15% + 30px)' class="d-flex justify-content-center mt-4"> 
          <p>There are no Agents to display...</p>
         </div>
       
      <% } %>
      </div> 
      <!-- Modals -->


      
    </div>
  </main>
  <!--Main layout-->
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
 
 var FormAddAgent = document.getElementById("addAgent") ;
 

  FormAddAgent.addEventListener("submit", async (e)=>{
    e.preventDefault();
    var name = document.getElementById("complete_name").value;
    var email = document.getElementById("email").value;
    var tele = document.getElementById("tele").value;
    var password = document.getElementById("password").value;
    var myModal = document.getElementById('Ajouter');
    var alert = document.getElementById('alert');
    var DangerText = document.getElementById('libell_delete');

    var response = await fetch('/admin-create_Agent' , {
      method : 'POST',
      headers  :{
        'Content-Type': 'application/json'
      } ,
      body : JSON.stringify({
        complete_name : name.trim() ,
        tele :  tele.trim() ,
        mail : email.trim() ,
        password : password.trim() 
      })
    });
    // response.status = 200
    const res = await response.json();

     if (res.success) {
      FormAddAgent.reset();
      var modalInstance = mdb.Modal.getInstance(myModal);
      if (modalInstance) {
        modalInstance.hide(); // Hide the modal using MDB's hide method
      }      
      console.log(res);

      }else { 
        console.log(res);
        var modalInstance = mdb.Modal.getInstance(myModal);
          if (modalInstance) {
            modalInstance.hide(); // Hide the modal using MDB's hide method
          }  
         for(const [key , value] of Object.entries(res.error)) {
        if (value.length > 0) {
            showAlert(value);
            console.log(value);
        }
        
        }
     }
  })   

  $(document).ready(function () {
    $('#example').DataTable(

    ); 
  })
</script>
  
</html>