
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctors</title>
     
  <!-- Include required CSS and JavaScript files -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">


     <%- include('../component/navbar') %>

 
    <style>


.dropbtn {
  background-color: transparent;
  color: transparent;
    border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:  #937a7a;   border-radius: 50%;  width: 2.5rem; height: 2.5rem;}
    </style>
</head>
<body>

    <%- include('../component/sidebar') %>
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
      <div class="alert alert-warning alert-dismissible fade show" id="alert" style="display: none;" role="alert">
        <strong id="libell_delete"></strong> Urgance ete bien supprimer.
        <button type="button" class="btn-close" id="close-alert" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="d-flex ">
        <div class="pt-2 me-auto">
        <div class="input-group ">
            <div class="form-outline">
              <input id="search-input" type="text"  onkeyup="FilterCard()" class="form-control" />
              <label class="form-label" for="form1">Search</label>
            </div>
            <button id="search-button" type="button" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
          <div class=" p-2 ">
            <button
                type="button"
                class="btn btn-primary"
                data-mdb-toggle="modal"
                data-mdb-target="#Ajouter"
                data-mdb-whatever="@mdo"
                >
                <i class="fa fa-plus"></i> Urgance
            </button>
        </div>
      </div> 
      <hr>
      <table id="example"  class="py-2"  style="width:100%">
        <thead>
            <tr>
                <th>Complete nom</th>
                <th>Email</th>
                <th>en linge</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
           <% Patients.forEach(element => { %>
             <tr>
                <td><%=element.name%></td>
                <td><%=element.email%></td>
                <td><%=element.is_online%></td>
                <td>
                  <% if (element.create_at) { %>
                    <% const timestamp = parseInt(element.create_at); %>
                    <% if (!isNaN(timestamp)) { %>
                      <% const date = new Date(timestamp); %>
                      <%= date.toLocaleString() %>
                    <% } else { %>
                      Invalid timestamp
                    <% } %>
                  <% } else { %>
                    No timestamp available
                  <% } %>
                </td>
             </tr>
           <% }) %>
        </tbody>
     
    </table>
      <!-- Modals -->

        <!-- Modal -->
        <div class="modal top fade" id="Fork" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <form action="../admin-add_Sous_Urgance" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Libell Sous Urgance:</label>
                  <input type="text" name="libell" class="form-control" id="recipient-name" required />
                  <input type="hidden" name="id_urgance" id="id_urgance">
                  <input type="hidden" name="libell__Urgance" id="libell__Urgance">

                </div>
                <div class="file-upload-wrapper">
                  <label for="file" class="col-form-label">Image Sous Urgance:</label>
                  <input type="file" id="input-file-now" name="image" id="file" accept="image/*" class="form-control" required />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
            </div>
          </div>
        </div>
          <div class="modal fade" id="Ajouter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter Urgance</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  action="../admin-add_Urgance" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Libell:</label>
                      <input type="text" name="libell" class="form-control" id="recipient-name" required />
                    </div>
                    <div class="file-upload-wrapper">
                      <label for="file" class="col-form-label">Image Urgance:</label>
                      <input type="file" id="input-file-now" name="image" id="file" accept="image/*" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"  value="Send message" />
                </div>
              </form>
              </div>
            </div>
          </div>
          <div class="modal fade" id="updatemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modifier Urgance</h5>
                  <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  action="../admin-update_urgance" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="id" id="urganceId">
                <div class="modal-body">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Libell:</label>
                      <input type="text" name="libell_up" class="form-control" id="libell_up" required />
                    </div>
                    <div class="file-upload-wrapper">
                      <label for="file" class="col-form-label">Image Urgance:</label>
                      <input type="file" id="input-file-now" name="image_up" id="image_up" class="form-control"  />
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"  value="Send message" />
                </div>
              </form>
              </div>
            </div>
          </div>
    </div>
  </main>
  <!--Main layout-->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
 

  $(document).ready(function () {
    $('#example').DataTable(
    //   {
    //   'processing' : true,
    //   'serverSide' : true,
    //   'serverMethod' : 'GET',
    //   'ajax' :{
    //     'url' : 'searchPatient'
    //   },
    //   'aaStoring' : [],
    //   'columns' : [
    //     { data : 'patientName'},
    //     { data : 'patientEmail'} ,
    //     { data : 'patientOnline'},
    //     { data : 'patientInscreptionDate'}
    //   ]
    // }
    );
 
  })




 
</script>
</html>